<!DOCTYPE html PUBLIC "-/WAPFORUM/DTD XHTML Mobile 1.0/EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>山西手机视讯</title>
    <meta name="viewport" content="width=device-width;initial-scale=1.0;minimum-scale=1.0;maximum-scale=1.0" />
    <meta name="MobileOptimized" content="" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/default.js" type="text/javascript"></script>
</head>
<body>
    <div class="apps_header">
        <div class="apps_fl apps_homea">
            <a href="http://wap.uwxsx.com/wxcs/taiyuan/wxcs.3.jsp?redirected=true&areaPinyin=taiyuan"></a>
        </div>
    </div>

    <div class="min_main_nav">
        <a href="/">全部</a>
        <a href="<%=service.urlChannel("资讯")%>">资讯</a>
        <a href="<%=service.urlChannel("综艺")%>">综艺</a>
        <a href="<%=service.urlChannel("体育")%>">体育</a>
        <a href="<%=service.urlChannel("娱乐")%>">娱乐</a>
        <a href="<%=service.urlChannel("影视")%>">影视</a>
        <a href="http://wap.dm.10086.cn/X/a?isIndex=false">动漫</a>
    </div>

    <div class="tip_nav">
        <a class="tlogo" href="http://2013.uwxsx.com"></a>
        <a class="closetip"><img src="/images/tipclose.png"/></a>
    </div>

    <div style="display: none;">

    </div>



    <!-- 资讯 -->
    <div class="sx_more sx_more_1">
        <span class="more">
            <a href="<%=service.urlChannel("资讯")%>">更多</a>
        </span>
    </div>
    <div class="R_boxer">
        <div class="boxer_con tjpp">
            <% service.db.findVideosByChannel("资讯", [max:3]).each{ video -> %>
            <dl>
                <dt>
                    <a href="<%=service.urlVideo(video.uuid)%>"><img src="/video_thumb/<%=video.published.format("yyyyMMdd")%>/<%=video.vid%>.jpg"></a>
                </dt>
                <dd>
                    <h3><a href="<%=service.urlVideo(video.uuid)%>"><%=video.title%></a></h3>
                    <p><%=video.desc%></p>
                    <p>发布：<%=video.published?.format("yyyy/MM/dd") %></p>
                </dd>
            </dl>
            <% } %>
        </div>
    </div>
    
    
    
    <!-- 综艺 -->
    <div class="sx_more sx_more_2">
        <span class="more">
            <a href="<%=service.urlChannel("综艺")%>">更多</a>
        </span>
    </div>
    <div class="R_boxer">
        <div class="boxer_con tjpp">
            <% service.db.findVideosByChannel("综艺", [max:3]).each{ video -> %>
            <dl>
                <dt>
                    <a href="<%=service.urlVideo(video.uuid)%>"><img src="/video_thumb/<%=video.published.format("yyyyMMdd")%>/<%=video.vid%>.jpg"></a>
                </dt>
                <dd>
                    <h3><a href="<%=service.urlVideo(video.uuid)%>"><%=video.title%></a></h3>
                    <p><%=video.desc%></p>
                    <p>发布：<%=video.published?.format("yyyy/MM/dd") %></p>
                </dd>
            </dl>
            <% } %>
        </div>
    </div>
    
    
    
    <!-- 体育 -->
    <div class="sx_more sx_more_3">
        <span class="more">
            <a href="<%=service.urlChannel("体育")%>">更多</a>
        </span>
    </div>
    <div class="R_boxer">
        <div class="boxer_con tjpp">
            <% service.db.findVideosByChannel("体育", [max:3]).each{ video -> %>
            <dl>
                <dt>
                    <a href="<%=service.urlVideo(video.uuid)%>"><img src="/video_thumb/<%=video.published.format("yyyyMMdd")%>/<%=video.vid%>.jpg"></a>
                </dt>
                <dd>
                    <h3><a href="<%=service.urlVideo(video.uuid)%>"><%=video.title%></a></h3>
                    <p><%=video.desc%></p>
                    <p>发布：<%=video.published?.format("yyyy/MM/dd") %></p>
                </dd>
            </dl>
            <% } %>
        </div>
    </div>

    
    
    <!-- 娱乐 -->
    <div class="sx_more sx_more_4">
        <span class="more">
            <a href="<%=service.urlChannel("娱乐")%>">更多</a>
        </span>
    </div>
    <div class="R_boxer">
        <div class="boxer_con tjpp">
            <% service.db.findVideosByChannel("娱乐", [max:3]).each{ video -> %>
            <dl>
                <dt>
                    <a href="<%=service.urlVideo(video.uuid)%>"><img src="/video_thumb/<%=video.published.format("yyyyMMdd")%>/<%=video.vid%>.jpg"></a>
                </dt>
                <dd>
                    <h3><a href="<%=service.urlVideo(video.uuid)%>"><%=video.title%></a></h3>
                    <p><%=video.desc%></p>
                    <p>发布：<%=video.published?.format("yyyy/MM/dd") %></p>
                </dd>
            </dl>
            <% } %>
        </div>
    </div>
    
    



    <!-- 影视 -->
    <div class="sx_more sx_more_5">
        <span class="more">
            <a href="<%=service.urlChannel("影视")%>">更多</a>
        </span>
    </div>
    <div class="R_boxer">
        <div class="boxer_con tjpp">
            <% service.db.findVideosByChannel("影视", [max:3]).each{ video -> %>
            <dl>
                <dt>
                    <a href="<%=service.urlVideo(video.uuid)%>"><img src="/video_thumb/<%=video.published.format("yyyyMMdd")%>/<%=video.vid%>.jpg"></a>
                </dt>
                <dd>
                    <h3><a href="<%=service.urlVideo(video.uuid)%>"><%=video.title%></a></h3>
                    <p><%=video.desc%></p>
                    <p>发布：<%=video.published?.format("yyyy/MM/dd") %></p>
                </dd>
            </dl>
            <% } %>
        </div>
    </div>


    <!--底部结束-->
    <div class="wrapper">
        <div id="footer">
            <div id="foot_download">
                <a class="download_logo" href="wtai://wp/mc;12580"><img
                        src="http://wap.uwxsx.com/wxcs/upload/images/down_logo.png" /> </a>
                <a class="download_link"
                    href="http://wap.uwxsx.com/wxcs/downloadnew.jsp;jsessionid=B362519B62EEEA9001448CD881EC133C?redirected=true&areaPinyin=taiyuan">无线城市客户端下载</a>
            </div>
            <p>
                <a href="http://wap.uwxsx.com/wxcs/taiyuan/tuijian.3.jsp;jsessionid=B362519B62EEEA9001448CD881EC133C?redirected=true&areaPinyin=taiyuan&type=1">推荐</a>|
                <a href="http://wap.uwxsx.com/wxcs/taiyuan/yjfk.3.jsp;jsessionid=B362519B62EEEA9001448CD881EC133C?redirected=true&areaPinyin=taiyuan">留言</a>|
                <a href="http://wap.uwxsx.com/wxcs/taiyuan/helpchannel.3.jsp;jsessionid=B362519B62EEEA9001448CD881EC133C?redirected=true&areaPinyin=taiyuan">帮助</a>|
                <a href="http://wap.uwxsx.com/wxcs/bookflag.jsp;jsessionid=B362519B62EEEA9001448CD881EC133C?redirected=true&areaPinyin=taiyuan">存书签</a><br />
                中国移动通信集团山西有限公司<br />
                无线城市[晋ICP备11002219]
            </p>
        </div>
    </div>

    <div class="cnzz_stat">
    <script src="http://s13.cnzz.com/stat.php?id=4844881&web_id=4844881" language="JavaScript"></script>
    <img src="/log/<%=URLDecoder.decode('首页')%>" />
    <img src="/log/<%=URLDecoder.decode('首页')%>" />
    <img src="/log/<%=URLDecoder.decode('首页')%>" />
    </div>

</body>
</html>
