<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<title><%=task.data.title%></title>
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no" name="format-detection" />
		<link href="../css/style.css" rel="stylesheet" type="text/css" />
		<link href="../css/detail.css" rel="stylesheet" type="text/css" />
		<script src="../js/jquery.min.js" type="text/javascript"></script>
		<script src="../js/jquery.lazyload.js" type="text/javascript"></script>
		<script src="../js/default.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<a href="#" class="logo">山西手机视讯</a>
		</header>
		<nav>
			<div class="nav">
				<span><a href="../">首页</a></span>
				<% if(task.channel == '资讯') { %>
					<span class="now"><a href="..<%=service.urlChannel("资讯")%>">资讯</a></span>
				<% }else{%>
					<span><a href="..<%=service.urlChannel("资讯")%>">资讯</a></span>	
				<%}%>
				<% if(task.channel == '综艺') { %>
					<span class="now"><a href="..<%=service.urlChannel("综艺")%>">综艺</a></span>
				<% }else{%>
					<span><a href="..<%=service.urlChannel("综艺")%>">综艺</a></span>
				<%}%>
				<% if(task.channel == '体育') { %>
					<span class="now"><a href="..<%=service.urlChannel("体育")%>">体育</a></span>
				<% }else{%>
					<span><a href="..<%=service.urlChannel("体育")%>">体育</a></span>
				<%}%>
				<% if(task.channel == '娱乐') { %>
					<span class="now"><a href="..<%=service.urlChannel("娱乐")%>">娱乐</a></span>
				<% }else{%>
					<span><a href="..<%=service.urlChannel("娱乐")%>">娱乐</a></span>
				<%}%>
				<% if(task.channel == '影视') { %>
					<span class="now"><a href="..<%=service.urlChannel("影视")%>">影视</a></span>
				<% }else{%>
					<span><a href="..<%=service.urlChannel("影视")%>">影视</a></span>
				<%}%>
				<span><a href="../4g.html">4G尊享</a></span>
				<span><a href="../download.html">下载</a></span>
			</div>
		</nav>
		<a class="guanggao_img" href="../4g.html">
			<img src="../images/guanggao.jpg">
		</a>
		<div class="R_boxer">
			<div class="titleStyle">
				<h3><%=task.data.title%></h3>
			</div>
		</div>
		<div class="sx_pic">
			<a href="/video/<%=task.data.published.format("yyyyMMdd")%>/<%=task.data.vid%>_13_jm.3gp">
				<img src="../video_thumb/<%=task.data.published.format("yyyyMMdd")%>/<%=task.data.vid%>_play.jpg">
			</a>
		</div>
		<div class="comment_desc"><%=task.data.desc%></div>
		
		<% if (task.channel == '影视') { %>
		<div class="movie_ticket"><a href="http://wxcs.cn/SQbeiUr" target='_blank'>无线城市爱电影&nbsp;&nbsp;轻轻松松购影票</a></div>
		<%}%>

		<dl class="sx_btn">
			<a href="/video/<%=task.data.published.format("yyyyMMdd")%>/<%=task.data.vid%>_11_jk.3gp"><img src="../images/play1.jpg"></a>
			<a href="/video/<%=task.data.published.format("yyyyMMdd")%>/<%=task.data.vid%>_13_jm.3gp"><img src="../images/play2.jpg"></a>
			<a href="/video/<%=task.data.published.format("yyyyMMdd")%>/<%=task.data.vid%>_13_jm.3gp?download=1"><img src="../images/play3.jpg"></a>
			<a href="../help.html"><img src="../images/play4.jpg"></a>
		</dl>
		<div class="comment">
			<h3 align="left">
				<p>【无线城市温馨提示】</p>
				<p>在线观看视频时，建议使用手机自带播放器。</p>
			</h3>
		</div>
		
		<div class="content_nav">
			<%if(task.next) {%>
			<div class="next">
				<a title="<%=task.next.title%>" href="..<%=service.urlVideo(task.next.uuid)%>">
					<div class="tippage">上一个</div>
					<div><img src="../video_thumb/<%=task.next.published.format("yyyyMMdd")%>/<%=task.next.vid%>.jpg"></div>
					<div class="text_title"><%=task.next.title%></div>
				</a>
			</div>
			<%}%>
			<%if(task.prev) {%>
			<div class="prev">
				<a title="<%=task.prev.title%>" href="..<%=service.urlVideo(task.prev.uuid)%>">
					<div class="tippage">下一个</div>
					<div><img src="../video_thumb/<%=task.prev.published.format("yyyyMMdd")%>/<%=task.prev.vid%>.jpg"></div>
					<div class="text_title"><%=task.prev.title%></div>
				</a>
			</div>
			<%}%>
		</div>
		
		<h1 class="cate_title">
			<a href="..<%=service.urlChannel(task.channel)%>">更多</a>精彩视频
		</h1>
		<table class="boxer_con">
			<% service.db.findRelationVideo(task.uuid,task.channel, 5).each{ video -> %>
			<tr>
				<td class="lefttd">
					<a href="..<%=service.urlVideo(video.uuid)%>"><img src="../video_thumb/<%=video.published.format("yyyyMMdd")%>/<%=video.vid%>_big.jpg"></a>
				</td>
				<td class="righttd">
					<h3><a href="..<%=service.urlVideo(video.uuid)%>"><%=video.title%></a></h3>
				</td>
			</tr>
			<% } %>
		</table>
		<footer>
			<div id="footer">
				<p>
				中国移动通信集团山西有限公司
				<br />
				无线城市[晋ICP备11002219]
				</p>
			</div>
		</footer>
		<div class="cnzz_stat">
		<script src="http://s13.cnzz.com/stat.php?id=4844881&web_id=4844881" language="JavaScript"></script>
		<img src="/log/<%=task.data.uuid%>/<%=task.channel%>/<%=task.data.title%>" />
		<img src="/log/<%=task.data.uuid%>/<%=task.channel%>/<%=task.data.title%>2" />
		<img src="/log/<%=task.data.uuid%>/<%=task.channel%>/<%=task.data.title%>3" />
		</div>
	</body>
</html>



